In [1]:
if True:
    print('Data Sciecene')

Data Sciecene

In [2]:
if true:
    print('Data Sciecene')

NameError: name 'true' is not defined

In [3]:
x =4
r = x%2
if r==0:
    print('Even number')

Even number

In [4]:
x =5
r = x%2
if r==0:
    print('Even number')

In [7]:
x =5
r = x%2
if r!=0:
    print('Odd number')

Odd number

In [12]:
x =4
r = x%2
if r==0:
    print('Even number')
print('Oddd numer')

Even number
Oddd numer

In [13]:
x =5
r = x%2
if r==0:
    print('Even number')
print('Oddd numer')

Oddd numer

In [15]:
x =5
r = x%2
if r==0:
    print('Even number')
if r ==1:    
    print('Oddd numer')

Oddd numer

In [18]:
x =4
r = x%2
if r==0:
    print('Even number')
else:    
    print('Oddd numer')

Even number

In [20]:
x =6
r=x%2
if r==0:
    print('Even number')
    if x > 5:
        print('greater number')

else:
    print('odd number')

Even number
greater number

In [21]:
x =4
r=x%2
if r==0:
    print('Even number')
    if x > 5:
        print('greater number')

else:
    print('odd number')

Even number

In [25]:
x =2
r=x%2
if r==0:
    print('Even number')
    if x > 5:
        print('greater number')

    else:
        print('lesser number')

else:
    print('odd number')

Even number
lesser number

In [26]:
x =2
if x==1:
    print('one')

if x ==2:
    print('two')

if x ==3:
    print('three')

if x ==4:
    print('four')

two

In [28]:
x =3
if x==1:
    print('one')

elif x ==2:
    print('two')

elif x ==3:
    print('three')

elif x ==4:
    print('four')

three

In [29]:
x =10
if x==1:
    print('one')

elif x ==2:
    print('two')

elif x ==3:
    print('three')

elif x ==4:
    print('four')

else:
    print('number not found')

number not found

# loops

In [30]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

In [32]:
i =1 
while i <=5:
    print('data science')
    i=i+1

data science
data science
data science
data science
data science

In [36]:
i =1
while i <=5:
    print('data science',i)
    i=i+1

data science 1
data science 2
data science 3
data science 4
data science 5

In [38]:
i =5
while i >=1:
    print('data science',i)
    i=i-1

data science 5
data science 4
data science 3
data science 2
data science 1

In [39]:
age = 20
if age >= 18:
    print("Eligible to vote.")

Eligible to vote.

In [40]:
age = 19
if age > 18: print("Eligible to Vote.")

Eligible to Vote.

In [41]:
age = 10
if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

Travel for free.

In [42]:
marks = 45
res = "Pass" if marks >= 40 else "Fail"
print(f"Result: {res}")

Result: Pass

In [43]:
age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

In [49]:
age = 55
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

Not eligible for a senior discount.

In [50]:
age = 65
is_member = False

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

20% senior discount.

In [51]:
age = 20
s = "Adult" if age >= 18 else "Minor"
print(s)

Adult