In [1]:
if True:
    print('Data Sciecene')

Data Sciecene

In [2]:
if true:
    print('Data Sciecene')

NameError: name 'true' is not defined

In [3]:
x =4
r = x%2
if r==0:
    print('Even number')

Even number

In [5]:
x =5
r = x%2
if r==0:
    print('Even number')

In [6]:
x =5
r = x%2
if r!=0:
    print('Odd number')

Odd number

In [7]:
x =4
r = x%2
if r==0:
    print('Even number')
print('Oddd numer')

Even number
Oddd numer

In [8]:
x =5
r = x%2
if r==0:
    print('Even number')
print('Oddd numer')

Oddd numer

In [9]:
x =5
r = x%2
if r==0:
    print('Even number')
if r ==1:    
    print('Oddd numer')

Oddd numer

In [10]:
x =4
r = x%2
if r==0:
    print('Even number')
else:    
    print('Oddd numer')

Even number

In [11]:
x =6
r=x%2
if r==0:
    print('Even number')
    if x > 5:
        print('greater number')

else:
    print('odd number')

Even number
greater number

In [12]:
x =4
r=x%2
if r==0:
    print('Even number')
    if x > 5:
        print('greater number')

else:
    print('odd number')

Even number

In [13]:
x =2
r=x%2
if r==0:
    print('Even number')
    if x > 5:
        print('greater number')

    else:
        print('lesser number')

else:
    print('odd number')

Even number
lesser number

In [14]:
x =2
if x==1:
    print('one')

if x ==2:
    print('two')

if x ==3:
    print('three')

if x ==4:
    print('four')

two

In [15]:
x =3
if x==1:
    print('one')

elif x ==2:
    print('two')

elif x ==3:
    print('three')

elif x ==4:
    print('four')

three

In [16]:
x =10
if x==1:
    print('one')

elif x ==2:
    print('two')

elif x ==3:
    print('three')

elif x ==4:
    print('four')

else:
    print('number not found')

number not found

# loops

In [17]:
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')
print('Data Science')

Data Science
Data Science
Data Science
Data Science
Data Science

In [18]:
i =1 
while i <=5:
    print('data science')
    i=i+1

data science
data science
data science
data science
data science

In [19]:
i =1
while i <=5:
    print('data science',i)
    i=i+1

data science 1
data science 2
data science 3
data science 4
data science 5

In [20]:
i =5
while i >=1:
    print('data science',i)
    i=i-1

data science 5
data science 4
data science 3
data science 2
data science 1

In [21]:
age = 20
if age >= 18:
    print("Eligible to vote.")

Eligible to vote.

In [22]:
age = 19
if age > 18: print("Eligible to Vote.")

Eligible to Vote.

In [23]:
age = 10
if age <= 12:
    print("Travel for free.")
else:
    print("Pay for ticket.")

Travel for free.

In [24]:
marks = 45
res = "Pass" if marks >= 40 else "Fail"
print(f"Result: {res}")

Result: Pass

In [25]:
age = 25

if age <= 12:
    print("Child.")
elif age <= 19:
    print("Teenager.")
elif age <= 35:
    print("Young adult.")
else:
    print("Adult.")

Young adult.

In [26]:
age = 55
is_member = True

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

Not eligible for a senior discount.

In [27]:
age = 65
is_member = False

if age >= 60:
    if is_member:
        print("30% senior discount!")
    else:
        print("20% senior discount.")
else:
    print("Not eligible for a senior discount.")

20% senior discount.

In [28]:
age = 20
s = "Adult" if age >= 18 else "Minor"
print(s)

Adult

In [33]:
i=1
while i<=5:
    print('data science')
    j=1
    while j<=4:
        print('technology')
        j=j+1

    i=i+1
    print()

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

data science
technology
technology
technology
technology

In [34]:
i=1
while i<=5:
    print('data science',end = "")
    j=1
    while j<=4:
        print('technology',end = "")
        j=j+1

    i=i+1
    print()

data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology
data sciencetechnologytechnologytechnologytechnology

In [36]:
i=1
while i<=2:
    j=0
    while j<=2:
        print(i*j,end =" ")
        j+=1
    print()
    i+=1

0 1 2
0 2 4

In [37]:
i=1
while i<=4:
    j=0
    while j<=3:
        print(i*j,end =" ")
        j+=1
    print()
    i+=1

0 1 2 3
0 2 4 6
0 3 6 9
0 4 8 12

In [40]:
name ='nit'
for i in name:
    print(i)

n
i
t

In [41]:
name1=[1,2,3,4,'hi']
for i in name1:
    print(i)

1
2
3
4
hi

In [42]:
for i in range(10,50,5):
    print(i)

10
15
20
25
30
35
40
45

In [46]:
for i in range(1,51):
    if i%5 ==0:
      print(i)

5
10
15
20
25
30
35
40
45
50

In [47]:
for i in range(1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [48]:
for i in range(1,11):
    if i==6:
        break
    print(i)

1
2
3
4
5

In [49]:
for i in range(1,11):
    if i==6:
        continue
    print(i)

1
2
3
4
5
7
8
9
10

In [50]:
for i in range(1,11):
    if i==6:
        pass
    print(i)

1
2
3
4
5
6
7
8
9
10

In [51]:
for i in range(1,11):

SyntaxError: incomplete input (1334445784.py, line 1)

In [52]:
for i in range(1,11):
    pass

In [55]:
for i in range(1,51):
    if i%5 ==0:
        continue
    print(i)

1
2
3
4
6
7
8
9
11
12
13
14
16
17
18
19
21
22
23
24
26
27
28
29
31
32
33
34
36
37
38
39
41
42
43
44
46
47
48
49

In [58]:
for i in range(1,51):
    if i%5 ==0 or i%3 ==0:
        continue
    print(i)

1
2
4
7
8
11
13
14
16
17
19
22
23
26
28
29
31
32
34
37
38
41
43
44
46
47
49

In [59]:
nums = [12,15,18,21,26,30,40]
for num in nums:
    if num %5==0:
        print(num)

15
30
40

In [60]:
nums = [12,15,18,21,26,30,40]
for num in nums:
    if num %5==0:
        print(num)
        break

15

In [61]:
nums = [12,18,21,26]
for num in nums:
    if num %5==0:
        print(num)
    else:
        print('Number not found')

Number not found
Number not found
Number not found
Number not found

In [62]:
nums = [12,18,21,26]
for num in nums:
    if num %5==0:
        print(num)
else:
        print('Number not found')

Number not found